<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skycast</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>{{intro}}</p>
    <p>Today's Weather:</p>
    <div>
        <span>{{temp}}&deg;F</span>
        <span>{{feelsLike}}&deg;F</span>
        <span>{{summary}}</span>
        <span>{{dailyWkSum}}</span>
        <span>{{dailyHigh}}&deg;F</span>
        <span>{{dailyLow}}&deg;F</span>
    </div>
</body>
</html>